@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body-page{
    width: 100%;
    height: 100%;
    position: fixed;
}

.taskbar-left{
    background-color: #E3EAF4;
    width: 17%;
    height: 100%;
}

.logo{
    max-width: 12.5rem;
}

.btn{
    color: #203C61;
}

.active{
    color: #fff;
    background-color: #203C61;
    border-radius: 20px;
}

.contenido{
    margin-left: 18%;
    width: 80%;
    height: 100%;
}

.btn-close{
    margin-left: 88%;
    margin-top: 2%;
    color: #4A8CE1;
}

.body-content{
  margin-left: 17%;
  width: 83%;
  height: 100vh;
}
