<div class="body-page">
    <div class="taskbar-left absolute">
        <img class="logo pl-5 pt-4 mb-48" src="./assets/Logo.png">
        <button type="button" class="grid grid-cols-3 ml-4 mr-2 pl-4 pr-12 pt-2 pb-2 btn">
            <div class="business">
                <img src="./assets/Empresas.svg">
            </div>
            <div>Empresas</div>
        </button>
        <button type="button" class="grid grid-cols-3 ml-4 mr-2 pl-4 pr-12 pt-2 pb-2 btn">
            <div>
                <img src="./assets/Ordenes.svg">
            </div>
            <div>Ordenes</div>
        </button>
        <button type="button" class="grid grid-cols-3 ml-4 mr-2 pl-4 pr-12 pt-2 pb-2 btn">
            <div>
                <img src="./assets/Repartidores.svg">
            </div>
            <div>Repartidores</div>
        </button>
    </div>
    <div class="contenido absolute">
        <button type="button" class="btn-close">Cerrar Sesión</button>
    </div>
</div>