<div class="pt-16 px-8 grid grid-cols-4">
  <div class="p-2" *ngFor="let driver of forAcceptDrivers">
    <div style="background-color: var(--blue); color: var(--white);"
      class="cursor-pointer p-2 place-items-center h-full w-full rounded-md grid grid-rows-2">
      <div class=" h-full w-full p-5 grid place-items-center m-2 rounded-md" style="background-color: white;">
        <i style="color: var(--red);" class="fas fa-user-circle fa-4x"></i>
      </div>
      <div class="p-2 w-full mx-2">
        <div class="text-lg text-center font-semibold">
          {{driver.fullName}}
        </div>
        <div class="text-center font-semibold">
          <button class="uppercase px-3 py-1 text-sm rounded-md"
            style="font-family: 'Puritan', sans-serif;background-color: var(--darkblue); color: var(--white);" (click)="acceptDriver(driver.fullName)">Aprobar</button>
        </div>
      </div>
    </div>
  </div>
</div>
